.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.List {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
